---
# Only the main Sass file needs front matter (the dashes are enough)
---

$text-color: #333;

body {
  font-family: "Special Elite", monospace;
  margin: 3em 1em;
  font-size: 1.25em;
  background: #eae2df url("page.jpg") center top;
  color: $text-color;
  line-height: 1.5em;
}

a {
  color: $text-color;
}

article {
  max-width: 35em;
  margin: 0 auto;
}

h1 {
  font-size: 1.2em;
  font-weight: normal;
  text-decoration: underline;
  line-height: 1.5em;
  text-align: center;
}

h1 strong {
  font-weight: normal;
  text-transform: uppercase;
  display: block;
}

hr {
  border: 0;
  margin: 2em 0;
  color: $text-color;

  &:after {
    content: '********************';
    display: block;
    text-align: center;
  }
}

em {
  text-decoration: underline;
  font-style: normal;
}

.closing {
  text-align: right;
  width: 75%;
  margin: 2em 0;
}

@media print {
  $text-color: #000;

  body {
    color: $text-color;
    background: none;
    font-size: 1em;
    margin: 0;
  }

  a {
    color: $text-color;
  }

  p {
    break-inside: avoid;
  }
}
